.global-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.tasks {
    display: flex;
    justify-content: center;
    align-items: center;

    .tasks-list {
        width: 50%;
        border-collapse: collapse;
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f4f4f4;
        }

        tr {
            &#done {
                background-color: #d6ffd7;
            }
            &:nth-child(odd) {
                background-color: #f9f9f9;
            }
            &:hover {
                background-color: #f1f1f1;
            }
        }

        td {
            &.expired {
                background-color: #ffdcdc;
            }

            &.done {
                transition: ease-in-out 0.2s;
                &:hover {
                    transition: ease-in-out 0.2s;
                    box-shadow: 0 0 5px #bdbdbd;
                    cursor: pointer;
                }
            }
        }

        tr.add-task {
            td {
                background-color: #ffffff;
                padding: 0;
                input {
                    background: none;
                    border: none;
                    width: 100%;
                    padding: 8px;
                    text-align: center;
                    &:focus {
                        outline: none;
                        box-shadow: 0 0 5px #bdbdbd;
                    }

                    &[type="text"]::placeholder {
                        color: #757575;
                    }

                    &[type="date"] {
                        font-family: inherit;
                        color: #757575;
                    }
                }
            }
        }
    }
}

button {
    border: 1px solid #ddd;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f4f4f4;
    cursor: pointer;
    &:hover {
        background-color: #ddd;
    }
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
