$primary-color: #333;
$background-color: #f4f4f4;

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: $primary-color;
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

header {
    color: $primary-color;
    padding: 10px;

    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                margin-right: 10px;

                a {
                    color: $primary-color;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

button,
input[type="file"]::-webkit-file-upload-button {
    border: 1px solid #ddd;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: $background-color;
    cursor: pointer;

    &:hover {
        background-color: #ddd;
    }
}

.homepage {
    margin: auto;
    width: 30%;

    h1 {
        font-size: 3em;
    }
}

.quoted {
    font-style: italic;
    color: #3b3b3b;
    font-family: Georgia, serif;
}
