.global-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.global-actions .import {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.global-actions .import > * {
  margin: 5px;
}
.global-actions .group_actions {
  display: flex;
  flex-direction: column;
}
.global-actions .group_actions > * {
  margin: 5px;
}
.global-actions .group_actions p.counter {
  padding: 5px;
}
.global-actions .group_actions p.counter::first-letter {
  font-weight: bold;
}

.tasks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasks .tasks-list {
  width: 50%;
  border-collapse: collapse;
}
.tasks .tasks-list th,
.tasks .tasks-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.tasks .tasks-list th {
  background-color: #f4f4f4;
}
.tasks .tasks-list tr#done {
  background-color: #d6ffd7;
}
.tasks .tasks-list tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.tasks .tasks-list tr:hover {
  background-color: #f1f1f1;
}
.tasks .tasks-list td.expired {
  background-color: #ffdcdc;
}
.tasks .tasks-list td.done {
  transition: ease-in-out 0.2s;
}
.tasks .tasks-list td.done:hover {
  transition: ease-in-out 0.2s;
  box-shadow: 0 0 5px #bdbdbd;
  cursor: pointer;
}
.tasks .tasks-list tr.edit-task td {
  padding: 0;
}
.tasks .tasks-list tr.edit-task td input {
  border: none;
  width: 100%;
  padding: 8px;
  text-align: center;
}
.tasks .tasks-list tr.edit-task td input:focus {
  outline: none;
  box-shadow: 0 0 5px #bdbdbd;
}
.tasks .tasks-list tr.edit-task td input[type=text]::placeholder {
  color: #757575;
}
.tasks .tasks-list tr.edit-task td input[type=date] {
  font-family: inherit;
  color: #757575;
}
.tasks .tasks-list tr.add-task td {
  background-color: #ffffff;
  padding: 0;
}
.tasks .tasks-list tr.add-task td input {
  background: none;
  border: none;
  width: 100%;
  padding: 8px;
  text-align: center;
}
.tasks .tasks-list tr.add-task td input:focus {
  outline: none;
  box-shadow: 0 0 5px #bdbdbd;
}
.tasks .tasks-list tr.add-task td input[type=text]::placeholder {
  color: #757575;
}
.tasks .tasks-list tr.add-task td input[type=date] {
  font-family: inherit;
  color: #757575;
}

h1 {
  text-align: center;
  font-size: 3em;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}