<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='tasks.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>

<body>
    {% include 'partials/header.html' %}
    <h1>TOUDOU.</h1>
    <div class="tasks">
        <table class="tasks-list">
            <thead>
                <tr>
                    <th>
                        <input id="checkbox-all" type="checkbox" form="actions_form">
                    <th>ID</th>
                    <th>Title</th>
                    <th>End date</th>
                    <th>
                        Done<br />
                        <a style="font-size: 10px;">(click to change)</a>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <form name="actions_form" action="/tasks/action" method="POST" id="actions_form"
                    enctype="multipart/form-data">
                    {% for task in tasks %}

                    {% if task.id == task_edit %}
                </form>
                <form name="edit-task-form" action="/tasks/edit" method="POST" id="edit-task-form">
                    <tr {% if task.done %}id="done" {% endif %} class="edit-task">
                        <input type="hidden" name="task_id" value="{{task.id}}" form="edit-task-form">
                        <input type="hidden" name="done" value="{{task.done}}" form="edit-task-form">
                        <td></td>
                        <td>{{task.id}}</td>
                        <td><input type="text" name="task" value="{{task.task}}" form="edit-task-form"></td>
                        <td><input type="date" name="end_date" value="{{task.end_date.strftime('%Y-%m-%d')}}"
                                min="{{today}}" form="edit-task-form"></td>
                        <td>{% if task.done %}Complete{% else %}In progress{% endif %}</td>
                        <td><button type="submit" form="edit-task-form" id="save">Save</button></td>
                    </tr>
                </form>
                <form name="actions_form" action="/tasks/action" method="POST" id="actions_form"
                    enctype="multipart/form-data">
                    {% else %}


                    <tr {% if task.done %}id="done" {% endif %}>
                        <td><input type="checkbox" name="tasks" value="{{task.id}}" form="actions_form"></td>
                        <td>{{task.id}}</td>
                        <td>{{task.task}}</td>
                        <td {% if task.end_date < today and not task.done %} class="expired" {% endif %}>
                            {{task.end_date.strftime('%d/%m/%Y')}}
                            <!-- {{task.end_date}} -->
                        </td>
                        <td class="done" onclick="window.location.href='/tasks/{{task.id}}/done'">
                            {% if task.done %}Complete{% else %}In progress{% endif %}
                        </td>
                        <td class="actions">
                            <button form="" onclick="
                                if (confirm('Are you sure you want to delete this task?\nThis action cannot be undone.')) {
                                window.location.href='/tasks/{{task.id}}/remove'
                                }
                                ">Delete</button>
                            <button form="" onclick="window.location.href='/tasks/{{task.id}}/edit'">Edit</button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </form>
                <form action="/tasks/add" method="POST" id="add-task-form">
                    <tr class="add-task">
                        <td></td>
                        <td>+</td>
                        <td><input type="text" name="title" placeholder="Title" required form="add-task-form"></td>
                        <td><input type="date" name="end_date" required min="{{today}}" form="add-task-form"></td>
                        <td></td>
                        <td><button type="submit" form="add-task-form">Add</button></td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="global-actions">
        <div class="group_actions">
            <p class="counter">0 tasks selected</p>
            <button type="submit" form="actions_form" name="action" value="download">Download</button>
            <button type="submit" form="actions_form" name="action" value="delete">Delete</button>
        </div>
        <div class="import">
            <input type="file" form="actions_form" name="file" accept=".csv" />
            <button type="submit" form="actions_form" name="action" value="import">Import</button>
        </div>


    </div>
</body>

</html>

<script>
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    const checkbox_all = document.getElementById('checkbox-all');
    const counter = document.querySelector('.counter');
    const download = document.querySelector('button[value="download"]');

    checkbox_all.addEventListener('change', () => {
        checkboxes.forEach(checkbox => {
            checkbox.checked = checkbox_all.checked;
        });
    });

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            const checked = document.querySelectorAll('input[type="checkbox"]:checked');
            checkbox_len = checked.length;
            if (checkbox_all.checked) {
                checkbox_len--;
            }
            counter.textContent = `${checkbox_len} tasks selected`;
        });
    });

    download.addEventListener('click', () => {
        const checked = document.querySelectorAll('input[type="checkbox"]:checked');
        if (checked.length === 0) {
            alert('No tasks selected');
            event.preventDefault();
        }
    });

    const savebutton = document.getElementById('save');

    if (savebutton) {
        savebutton.addEventListener('click', () => {
            console.log('clicked');
        });
    }

</script>